<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Vivo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="home">
        <navbar>
          <div class="liseret"></div>
        </navbar>

        <div style="position: absolute; top:130px;">
          <% if(error !== null) { %>
            <div class="col-md-12 text-center">
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            </div>
          <%}%>
        </div>

        <div style="position: absolute; top:130px;">
          <% if(success !== null) { %>
            <div class="col-md-12 text-center">
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            </div>
          <%}%>
        </div>
  <!-------------------------------------------------------->
      <div class="connect">
        <h1 class="col-sm-10 text-center"> <span id="first-letter">V</span>ivo </h1>
        <div class="connect_button">
          <button type="button" class="add" class="btn btn-primary" data-toggle="modal" data-target="#inscriptionModal" data-whatever="@getbootstrap">Inscription</button>
          <div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="borderline"></div>
                  <h5 class="modal-title" id="exampleModalLabel">Rejoignez-nous</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="btn-close">&times;</span>
                </button>
                </div>
                <!--DEBUT FORMULAIRE INSCRIPTION-->
                <div class="modal-body">
                  <form action="/signUp" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Prénom</label>
                      <input type="text" class="form-control" id="signout-prenom" name="prenom">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Nom</label>
                      <input type="text" class="form-control" id="signout-nom" name="nom">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Adresse email</label>
                      <!-- MODIF EMAIL DYLAN -->
                      <input type="email" class="form-control" id="signout-email" name="email">
                      <!-- ///// -->
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Mot de passe</label>
                      <input type="password" class="form-control" id="signout-pwd" name="password">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Date de naissance</label>
                      <input type="date" class="form-control" id="signout-date" name="date_de_naissance">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Pays</label>
                      <select name="pays" class="form-control">
                        <% for(var i = 0; i<pays.length; i++) {%>
                          <option value="<%=pays[i].translations.fr %>"><%=pays[i].translations.fr %></option>
                        <%}%>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="add" class="btn btn-primary">Créer un compte</button>
                    </div>
                  </form>
                  <!--FIN FORMULAIRE INSCRIPTION-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="connect_button">
          <button type="button" class="add" class="btn btn-primary" data-toggle="modal" data-target="#connexionModal" data-whatever="@getbootstrap">Connexion</button>
          <div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="connexionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="borderline"></div>
                  <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="btn-close" aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                  <!--DEBUT FORMULAIRE CONNEXION-->
                  <form action="/signIn" method="POST">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Email</label>
                      <!-- MODIF EMAIL DYLAN -->
                      <input type="email" class="form-control" id="sign-email" name="email">
                      <!-- ////// -->
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Mot de passe</label>
                      <input type="password" class="form-control" id="sign-pwd" name="password">
                    </div>
                    <div class="form-group text-right  signIn">
                      <a href="newMdp" id="for-btn">informations de compte oubliées?</a>
                    </div>
                    <div class="modal-footer">
                      <button class="add" type="submit" class="btn btn-primary">Connexion
                      </button>
                    </div>
                  </form>
                  <!--FIN FORMULAIRE CONNEXION-->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-4 hide-mdp" id="mdp-card" style="position: absolute; top: 55px; left: 32.5%; z-index: 1000000!important">
   <div class="card">
     <div class="card-header">
       Retrouvez votre compte
     </div>
     <div class="card-body">
     <p class="forget-pwd">Veuillez saisir votre adresse e-mail ou votre numéro de téléphone pour rechercher votre compte.</p>
       <form action="/refindpwd" method="POST">
         <div class="form-group">
           <label for="recipient-name" class="col-form-label">Email</label>
           <!-- MODIF EMAIL DYLAN -->
           <input type="email" class="form-control" id="mdpEmail" name="emailPwd">
           <!-- ////// -->
         </div>
         <div class="modal-footer">
           <button class="add" type="submit" class="btn btn-primary">Envoyer</button>
         </div>
       </form>
     </div>
   </div>
 </div>

  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="text-assets col-lg-4 col-md-4 col-sm-10 col-xs-10">
          <img class="picto" src="/images/medical-app.svg" alt="">
          <p>Le Vivo est facile à transporter. Plus besoin de penser à le prendre ou le chercher, il est toujours avec vous dans votre téléphone.</p>
        </div>
        <div class="text-assets col-lg-4 col-md-4 col-sm-10 col-xs-10">
          <img class="picto" src="/images/search.svg" alt="">
          <p>Fini les radiographies, analyses medicales et ordonnances perdues ! Désormais vous pouvez les ajouter en un clic  grâce à votre Vivo. </p>
        </div>
        <div class="text-assets col-lg-4 col-md-4 col-sm-10 col-xs-10">
          <img class="picto" src="/images/connection.svg" alt="">
          <p>Peur d'oublier un rendez-vous chez le medecin ou de perdre son adresse ? Ne vous inquitiez plus le Vivo gère tout ça pour vous.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script>
      document.getElementById('for-btn').addEventListener('click',
        function(e) {
          e.preventDefault();
          console.log('ok');
          document.getElementById('mdp-card').classList.remove('hide-mdp');
          document.getElementById('mdp-card').classList.add('show-mdp');
        }
      );
  </script>

  </body>
</html>
